<div id="<%= dom_id comment %>">
<!--  <p>-->
<!--    <strong>Blog:</strong>-->
    <%#= comment.blog_id %>
<!--  </p>-->

  <p>
    <strong>Posted by
      <%= comment.user.username %>
      <%= time_ago_in_words comment.created_at %> ago
    </strong><br />
    <%= comment.contont %>
  </p>

</div>
