/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 设置默认字体 */
/* 或者使用 Google Fonts 提供的字体 */
/* app/assets/stylesheets/application.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&family=Noto+Color+Emoji&display=swap');


body {
    font-family:  'Noto Sans SC', 'Apple SD Gothic Neo', 'Microsoft YaHei', 'Arial Unicode MS', sans-serif;
}

/* 导航栏样式 */
.navbar {
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

body.welcome-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #f8f9fa;
}

.welcome-page .container.text-center {
    text-align: center;
}

button {
    border: none; /* 删除边框 */
    cursor: pointer; /* 改变光标形状为手型 */
    outline: none; /* 删除默认轮廓 */
    transition: all 0.5s ease-in-out; /* 添加过渡动画 */
}

.button-green {
    background-color: #007E33; /* 蓝色背景 */
    color: white; /* 白色文本 */
    width: 130px; /* 设置宽度 */
    height: 30px; /* 设置高度 */
    border-radius: 8px; /* 圆角 */
    padding: 1em 2em; /* 内部填充 */
    font-size: 1rem; /* 字体大小 */
    margin: 2em; /* 外边距 */
    display: inline-block; /* 显示为行内块级元素 */
    text-decoration: none; /* 去掉下划线 */
}

