/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

/* 设置默认字体 */
/* 或者使用 Google Fonts 提供的字体 */
/* app/assets/stylesheets/application.css */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+SC:wght@400;700&family=Noto+Color+Emoji&display=swap');

body {
    font-family:  'Noto Sans SC', 'Apple SD Gothic Neo', 'Microsoft YaHei', 'Arial Unicode MS', sans-serif;
}

/* 隐藏默认内容 */
.accordion-content {
    display: none;
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-top: none;
}

/* 按钮样式 */
.accordion-button {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    outline: none;
    transition: 0.4s;
}

/* 按钮悬停样式 */
.accordion-button:hover {
    background-color: #ddd;
}

/* 按钮激活状态 */
.active {
    background-color: #ddd;
}