<!-- _type.html.erb -->
<div class="card mb-3">
  <div class="card-body">
    <p class="mb-3">
      <strong>名称：</strong>
      <%= type.name %>
    </p>

    <p class="mb-3">
      <strong>稀有度：</strong>
      <%= type.rarity %>
    </p>

    <p class="mt-3">
      <%= link_to "查看该类型", type, class: "btn btn-secondary" %>
    </p>
  </div>
</div>