<!-- _color.html.erb -->
<div class="card mb-3">
  <div class="card-body">
    <p class="mb-3">
      <strong>名称：</strong>
      <%= color.name %>
    </p>

    <p class="mb-3">
      <strong>代码：</strong>
      <%= color.code %>
    </p>

    <p class="mb-3">
      <strong>不透明度：</strong>
      <%= color.opacity %>
    </p>

    <p class="mt-3">
      <%= link_to "查看该颜色", color, class: "btn btn-secondary" %>
    </p>
  </div>
</div>