<% content_for :title, "新建收货地址" %>

<h1 class="mb-4">新建收货地址</h1>

<%= render "form", delivery_address: @delivery_address %>

  <div class="mt-4">
    <div class="d-flex justify-content-between">
      <%= link_to "返回所有收货地址", delivery_addresses_path, class: 'btn btn-primary' %>
    </div>
  </div>
</div>

