<div id="<%= dom_id category %>">
  <p>
    <strong>Name:</strong>
    <%= category.name %>
  </p>

  <p>
    <b>Recipes of this category:</b>
    <% if category.recipes.any? %>
      <%= (category.recipes.collect { |recipe| recipe.title }).join(" / ") %>
    <% else %>
      <span class="recipe-list">No recipes available in this category. 🤔</span>
    <% end %>
  </p>
</div>
