<!-- _design.html.erb -->
<div class="card mb-3">
  <div class="card-body">
    <p class="mb-3">
      <strong>名称：</strong>
      <%= design.name %>
    </p>

    <p class="mt-3">
      <%= link_to "查看该款式", design, class: "btn btn-secondary" %>
    </p>
  </div>
</div>